.pr-form input[type="text"],
.pr-form :is(a, button),
.pr-form select {
	vertical-align: baseline;
	outline: none;
	border-radius: 5px;
	padding: 10px 12px;
	color: var(--html-color, white);
	background-color: var(--mac-title-bg, var(--dark2));
	font-family: "Montserrat Alternates", sans-serif;
	font-size: 20px;
}

.pr-form input[type="text"]:focus {
	animation: glowshadow 2s linear infinite;
}

.pr-logo {
	width: 100%;
	max-width: 310px;
	height: auto;
	margin: 0 auto 30px auto;
}

.pr-tippy {
	color: rgb(255, 136, 142);
}

.pr-form {
	margin-top: 30px;
	margin-bottom: 16px;
}

.pr-form input {
	border: 1px solid var(--nord1);
}

.pr-form input[type="text"]::placeholder {
	color: var(--gray);
}

.pr-button {
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	background-color: var(--nord0);
	border: 1px solid var(--nord1);
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
}

.pr-button:hover {
	background-color: var(--nord2);
}
