:root {
	--nord0: #0d1117;
	--nord0m1: #2e3440;
	--nord0m2: #323946;
	--nord0m3: #373d4c;
	--nord0m4: #1c2027;
	--nord1: #3b4252;
	--nord2: #434c5e;
	--nord3: #4c566a;
	--nord4: #d8dee9;
	--nord5: #e5e9f0;
	--nord6: #eceff4;
	--nord7: #8fbcbb;
	--nord8: #88c0d0;
	--nord8lighter: #98d0e0;
	--nord9: #81a1c1;
	--nord10: #5e81ac;
	--nord11: #bf616a;
	--nord12: #d08770;
	--nord13: #ebcb8b;
	--nord14: #a3be8c;
	--nord15: #b48ead;
	--nord16: #abadb1;
	--nord17: #ff5861;
	--nord18: #2e3440;
	--nord19: rgba(255, 87, 95, 0.569);
	--blue: #375a7f;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #e74c3c;
	--orange: #fd7e14;
	--yellow: #f39c12;
	--green: #00bc8c;
	--teal: #20c997;
	--cyan: #3498db;
	--white: #fff;
	--gray: #999;
	--gray-dark: #303030;
	--primary: #375a7f;
	--secondary: #444;
	--success: #00bc8c;
	--info: #3498db;
	--warning: #f39c12;
	--danger: #e74c3c;
	--light: #999;
	--dark: #303030;
	--dark2: #22262f;
	--fancy-dark: rgba(46, 52, 64, 0.2);
}

:root:not(.light) {
	--radio-accent: var(--nord8);
	--hero-grid-bg: var(--fancy-dark);
}

.light:root {
	--nord0: #eceff4;
	--nord1: #e5e9f0;
	--nord2: #d8dee9;
	--nord4: #434c5e;
	--nord5: #3b4252;
	--nord6: #1d232a;
	--nord0m1: #f0f2f7;
	--nord0m2: #e8ecf4;
	--nord0m3: #e0e5f0;
	--html-color: var(--nord5);
	--radio-bg: var(--nord2);
	--a-color: var(--nord17);
	--bigtitle-color: var(--nord17);
	--banner-bg: var(--nord2);
	--footer-img: url("/assets/img/waves-light.svg");
	--footer-grad: var(--nord0m3);
	--margin-hover: var(--nord11);
	--logo-img: url("/assets/img/logo-light.webp");
	--dropdown-bg: #e0e5f080;
	--settings-bg: #4c566a4d;
	--settings-border: #e0e0e0;
	--settings-color: var(--nord5);
	--cseltitle-main-color: var(--nord17);
	--close-btn-color: var(--nord11);
	--radio-label-color: var(--nord0);
	--switch-bg: var(--nord3);
	--switch-checked-bg: var(--nord9);
	--select-hover-bg: var(--nord0);
	--cf-bg: var(--nord0);
	--cf-color: var(--nord5);
	--csel-input: var(--nord4);
	--mac-title-bg: var(--nord2);
	--mac-ui-bg: var(--nord17);
	--cmd-color: var(--nord5);
	--url-color: var(--nord17);
	--comment-color: var(--nord6);
	--omnibox-bg: var(--nord2);
	--ac-bg: var(--nord0m3);
	--hero-grad: rgba(233, 220, 220, 0.377);
	--box-badge-bg: var(--nord2);
	--box-btn-color: var(--dark2);
	--glowshadow1: var(--nord11);
	--glowshadow2: var(--nord17);
	--particles-bg: #ffffff00;
	--particles-color: #485163;
	--particles-links: #48516333;
	--particles-mv-spd: 0.3;
	--particles-op-max: 0.3;
	--particles-op-spd: 0.2;
	--particles-sz-spd: 0.3;
}

.nord:root {
	--nord0: #1d232a;
	--nord0m1: #2e3440;
	--nord0m2: #323946;
	--nord0m3: #373d4c;
	--nord1: #3b4252;
	--nord2: #434c5e;
	--nord3: #4c566a;
	--nord4: #d8dee9;
	--nord5: #e5e9f0;
	--nord6: #eceff4;
	--nord7: #8fbcbb;
	--nord8: #88c0d0;
	--nord8lighter: #98d0e0;
	--nord9: #81a1c1;
	--nord10: #5e81ac;
	--nord11: #bf616a;
	--nord12: #d08770;
	--nord13: #ebcb8b;
	--nord14: #a3be8c;
	--nord15: #b48ead;
	--nord16: #abadb1;
	--nord17: #ff5861;
	--nord18: #2e3440;
	--nord19: rgba(255, 87, 95, 0.569);
	--blue: #375a7f;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #e74c3c;
	--orange: #fd7e14;
	--yellow: #f39c12;
	--green: #00bc8c;
	--teal: #20c997;
	--cyan: #3498db;
	--white: #fff;
	--gray: #999;
	--gray-dark: #303030;
	--primary: #375a7f;
	--secondary: #444;
	--success: #00bc8c;
	--info: #3498db;
	--warning: #f39c12;
	--danger: #e74c3c;
	--light: #999;
	--dark: #303030;
	--dark2: #22262f;
	--fancy-dark: rgba(46, 52, 64, 0.2);
}
